<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  <h1><%= params[:name] %></h1>
  <h3><%= params[:coach] %></h3>
  <h3><%= params[:pg] %></h3>
  <h3><%= params[:sg] %></h3>
  <h3><%= params[:sf] %></h3>
  <h3><%= params[:pf] %></h3>
  <h3><%= params[:c] %></h3>


 </body>
</html>


